
.App, .listMessage {

    color: red;
    font-size: 1.5rem;
    letter-spacing: -1px;
    box-sizing: border-box;
    flex: 1;
    overflow-y: auto;
    padding-top: 4px;
    margin-top: 100%;
}


.listMessage {
    line-height: 1.5em;
}

.listMessage.log {

    color:red;
    font-size: 1.5rem;
    letter-spacing: -1px;
    margin: 1.25rem 0;
}

.listMessage .author {
    font-weight: bold;
    color: red;
    margin: 0 5px 0 0;
}

.listMessage.me .author {
    color: red;
}


