/* ./src/MessageForm.css */

.SendMessage {

    border-radius: 10px;
    border: 10px solid #d0bcdb;		;

    position: fixed;
    bottom: 1px;
    display: flex;
    width: 100%;
    height: 100px;
    padding: 3px 3px 3px 3px;
    background-color: #ffffff ;
    float: left;
    margin: 2rem 0 1rem;

}

.input-container {

    border-radius: 10px;
    border: 10px solid #f9f1e8	;
    color: #4e184e;
    flex: 1;
    margin: 1px;
    background: #f9f1e8;
}

.button-container {

    border-radius: 10px;
    border: 10px solid #d8bcd5;
    font-family: "Open Sans", sans-serif;
    flex: 0 0 6em;
    margin: 1px 1px 1px 0;
    background-color: #4e184e ;
}

.SendMessage input {


    border-radius: 10px;
    border: 10px solid #f9f1e8;

    box-sizing: border-box;
    font-size: inherit;
    width: 300px;
    height: 100%;
    outline: none;
}
.SendMessage button {
    border: 1px solid #eddef4; /* Параметры рамки */
    border-radius: 20px;

    background: #eddef4;
    box-sizing: border-box;
    font-size: inherit;
    height: 100%;
    outline: none;
    width: 100%;
}


.SendMessage input{



    padding: 0 0 0 4px;
    width: 100%;
    height: 100%;
}