
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300,800);

.App {
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #4e184e ;
  background: #eee1f;

  border: 1px solid #86708c;
  border-radius: 3px;
  height: 400px;
  width: 600px;
  margin: .5em;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

body{

  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #4e184e ;
  background: #eee1f;

  text-align: center;}


.AAA
{
  width: fit-content;
  display: block;
  padding: 5px;
  border: 1px solid;
  border-radius: 13px;
  background: rebeccapurple;
  color: white;
  font-size: 2rem;
}
.container 		{
  width:600px;
  margin:30px auto 0;
  display:block;
   background: #d8bcd5;
  padding:10px 50px 50px;
}
